<div class="container">
<div class="inner-contain">
    <div class="main-contain">
        <div class="main-cards">
            <mat-card>Balance</mat-card>
            <mat-card>Income</mat-card>
            <mat-card>Expenses</mat-card>
        </div>
     
          <div Class="list-card" *ngFor="let item of allExpensesData">
          
            <mat-card [ngClass]="item.options=='Expense'? 'list-card-red': 'list-card-green'"> 
              <span> &nbsp; {{item.title}}</span> 
              <div class="right-side-amt">
                <h3 class="mat-subheading-2"> Rs.  {{item.amount}} /- &nbsp;</h3> 
              </div>

              <h6 class="right-side-date">
                &nbsp;  {{ item.datetime | date:'mediumDate' }} 
              </h6>
              
            </mat-card>
            
        </div>
     

       
    </div>
    <div class="side-contain">
        <div class="side-cards">
            <mat-card>
              <form [formGroup]="formValue" (ngSubmit)="addExpenses()">
                <mat-form-field  appearance="outline">
                  <mat-label>Remarks</mat-label>
                  <input matInput formControlName="title" autocomplete="off" placeholder="Remarks">
                </mat-form-field>
                <mat-form-field  appearance="outline">
                  <mat-label>Amount</mat-label>
                  <input matInput formControlName="amount" type="number" autocomplete="off" placeholder="Rs.">
                </mat-form-field>
                <mat-form-field  appearance="outline">
                  <mat-label>Select any</mat-label>
                  <mat-select formControlName="options">
                    <mat-option value="Income">Income</mat-option>
                    <mat-option value="Expense">Expense</mat-option>
                  </mat-select>
                </mat-form-field>
                <button (click)="clearForm()" class="clear-button" mat-raised-button color="warn">
                  <mat-icon>clear</mat-icon>
                  Clear
                </button>
                  <button  class="add-button" mat-raised-button color="primary">
                    <mat-icon>add</mat-icon>
                    Save
                  </button>
                 
              
              </form>
                
            </mat-card>
            
        </div>
    </div>
</div>
</div>

